<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>GestionMatriculasBD_Mejorando</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Anyadir_Persona</display-name>
    <servlet-name>Anyadir_Persona</servlet-name>
    <servlet-class>Anyadir_Persona</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Anyadir_Persona</servlet-name>
    <url-pattern>/Anyadir_Persona</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mostrar_Personas</display-name>
    <servlet-name>Mostrar_Personas</servlet-name>
    <servlet-class>Mostrar_Personas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mostrar_Personas</servlet-name>
    <url-pattern>/Mostrar_Personas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Borrar_Persona</display-name>
    <servlet-name>Borrar_Persona</servlet-name>
    <servlet-class>Borrar_Persona</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Borrar_Persona</servlet-name>
    <url-pattern>/Borrar_Persona</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>Buscar_Persona</display-name>
    <servlet-name>Buscar_Persona</servlet-name>
    <servlet-class>Buscar_Persona</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Buscar_Persona</servlet-name>
    <url-pattern>/Buscar_Persona</url-pattern>
  </servlet-mapping>
</web-app>