<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>GestionMatriculasBD_Mejorando</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Anyadir_Persona</display-name>
    <servlet-name>Anyadir_Persona</servlet-name>
    <servlet-class>Anyadir_Persona</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Anyadir_Persona</servlet-name>
    <url-pattern>/Anyadir_Persona</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mostrar_Personas</display-name>
    <servlet-name>Mostrar_Personas</servlet-name>
    <servlet-class>Mostrar_Personas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mostrar_Personas</servlet-name>
    <url-pattern>/Mostrar_Personas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Borrar_Persona</display-name>
    <servlet-name>Borrar_Persona</servlet-name>
    <servlet-class>Borrar_Persona</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Borrar_Persona</servlet-name>
    <url-pattern>/Borrar_Persona</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Buscar_Persona</display-name>
    <servlet-name>Buscar_Persona</servlet-name>
    <servlet-class>Buscar_Persona</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Buscar_Persona</servlet-name>
    <url-pattern>/Buscar_Persona</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Modificar_Persona</display-name>
    <servlet-name>Modificar_Persona</servlet-name>
    <servlet-class>Modificar_Persona</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Modificar_Persona</servlet-name>
    <url-pattern>/Modificar_Persona</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Buscar_Profesor</display-name>
    <servlet-name>Buscar_Profesor</servlet-name>
    <servlet-class>Buscar_Profesor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Buscar_Profesor</servlet-name>
    <url-pattern>/Buscar_Profesor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Borrar_Profesor</display-name>
    <servlet-name>Borrar_Profesor</servlet-name>
    <servlet-class>Borrar_Profesor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Borrar_Profesor</servlet-name>
    <url-pattern>/Borrar_Profesor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mostrar_Profesores</display-name>
    <servlet-name>Mostrar_Profesores</servlet-name>
    <servlet-class>Mostrar_Profesores</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mostrar_Profesores</servlet-name>
    <url-pattern>/Mostrar_Profesores</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Anyadir_Profesor</display-name>
    <servlet-name>Anyadir_Profesor</servlet-name>
    <servlet-class>Anyadir_Profesor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Anyadir_Profesor</servlet-name>
    <url-pattern>/Anyadir_Profesor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Modificar_Profesor</display-name>
    <servlet-name>Modificar_Profesor</servlet-name>
    <servlet-class>Modificar_Profesor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Modificar_Profesor</servlet-name>
    <url-pattern>/Modificar_Profesor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mostrar_Alumnos</display-name>
    <servlet-name>Mostrar_Alumnos</servlet-name>
    <servlet-class>Mostrar_Alumnos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mostrar_Alumnos</servlet-name>
    <url-pattern>/Mostrar_Alumnos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Buscar_Alumno</display-name>
    <servlet-name>Buscar_Alumno</servlet-name>
    <servlet-class>Buscar_Alumno</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Buscar_Alumno</servlet-name>
    <url-pattern>/Buscar_Alumno</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Anyadir_Alumno</display-name>
    <servlet-name>Anyadir_Alumno</servlet-name>
    <servlet-class>Anyadir_Alumno</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Anyadir_Alumno</servlet-name>
    <url-pattern>/Anyadir_Alumno</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Borrar_Alumno</display-name>
    <servlet-name>Borrar_Alumno</servlet-name>
    <servlet-class>Borrar_Alumno</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Borrar_Alumno</servlet-name>
    <url-pattern>/Borrar_Alumno</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Modificar_Alumno</display-name>
    <servlet-name>Modificar_Alumno</servlet-name>
    <servlet-class>Modificar_Alumno</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Modificar_Alumno</servlet-name>
    <url-pattern>/Modificar_Alumno</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Anyadir_Asignatura</display-name>
    <servlet-name>Anyadir_Asignatura</servlet-name>
    <servlet-class>Anyadir_Asignatura</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Anyadir_Asignatura</servlet-name>
    <url-pattern>/Anyadir_Asignatura</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mostrar_Asignaturas</display-name>
    <servlet-name>Mostrar_Asignaturas</servlet-name>
    <servlet-class>Mostrar_Asignaturas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mostrar_Asignaturas</servlet-name>
    <url-pattern>/Mostrar_Asignaturas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Buscar_Asignatura</display-name>
    <servlet-name>Buscar_Asignatura</servlet-name>
    <servlet-class>Buscar_Asignatura</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Buscar_Asignatura</servlet-name>
    <url-pattern>/Buscar_Asignatura</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Borrar_Asignatura</display-name>
    <servlet-name>Borrar_Asignatura</servlet-name>
    <servlet-class>Borrar_Asignatura</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Borrar_Asignatura</servlet-name>
    <url-pattern>/Borrar_Asignatura</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Modificar_Asignatura</display-name>
    <servlet-name>Modificar_Asignatura</servlet-name>
    <servlet-class>Modificar_Asignatura</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Modificar_Asignatura</servlet-name>
    <url-pattern>/Modificar_Asignatura</url-pattern>
  </servlet-mapping>
</web-app>